<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo de Predicción</title>
</head>
<body>
    <h2>Modelo de Predicción con scikit-learn</h2>
    <form id="predict-form">
        <!-- Cambié los nombres de las etiquetas para que coincidan con las claves del diccionario -->
        <label for="SMOKE">SMOKE:</label>
        <input type="number" id="SMOKE" name="SMOKE" required><br><br>
        <label for="CALC">CALC:</label>
        <input type="number" id="CALC" name="CALC" required><br><br>
        <label for="NCP">NCP:</label>
        <input type="number" id="NCP" name="NCP" required><br><br>
        <label for="CH2O">CH2O:</label>
        <input type="number" id="CH2O" name="CH2O" required><br><br>
        <label for="FAF">FAF:</label>
        <input type="number" id="FAF" name="FAF" required><br><br>
        <label for="TUE">TUE:</label>
        <input type="number" id="TUE" name="TUE" required><br><br>
        <label for="MTRANS">MTRANS:</label>
        <input type="text" id="MTRANS" name="MTRANS" required><br><br>
        <label for="FCVC">FCVC:</label>
        <input type="number" id="FCVC" name="FCVC" required><br><br>

        <input type="submit" value="Predecir">
    </form>
    <div id="prediction-result"></div>

    <script>
        document.getElementById('predict-form').onsubmit = function(e) {
            e.preventDefault();

            // Cambié los nombres de las variables para que coincidan con las claves del diccionario
            var SMOKE = document.getElementById('SMOKE').value;
            var CALC = document.getElementById('CALC').value;
            var NCP = document.getElementById('NCP').value;
            var CH2O = document.getElementById('CH2O').value;
            var FAF = document.getElementById('FAF').value;
            var TUE = document.getElementById('TUE').value;
            var MTRANS = document.getElementById('MTRANS').value;
            var FCVC = document.getElementById('FCVC').value;

            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // Envié las características como un objeto con las claves correspondientes
                body: JSON.stringify({
                    SMOKE: SMOKE,
                    CALC: CALC,
                    NCP: NCP,
                    CH2O: CH2O,
                    FAF: FAF,
                    TUE: TUE,
                    MTRANS: MTRANS,
                    FCVC: FCVC
                }),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('prediction-result').textContent = 'Predicción: ' + data.prediction;
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        };
    </script>
</body>
</html>
